@{
    ViewData["Title"] = "Sign In";
}

<div class="container">
    <div class="identity-wrapper">
        <div class="left-panel">
            <img src="../../Assets/IMG/LogoImg.png" alt="Logo" />
            <div class="identity-wrap">
                <h2>Sign In</h2>
                <form asp-route="LoginEndPoint" method="post">
                    <label>Mail</label>
                    <input type="email" name="Mail" placeholder="Enter your mail" required />
                    <label>Name</label>
                    <input type="name" name="Name" placeholder="Enter your name" required />
                    <button class="submit-btn" type="submit">Sign In</button>
                </form>
                <div class="social-identity">
                    <button class="google">Sign in with Google</button>
                    <button class="facebook">Sign in with Facebook</button>
                    <button class="apple">Sign in with Apple</button>
                </div>
            </div>
        </div>
        <div class="right-panel">
            <div class="offer">
                <h1>Welcome to BLOG!</h1>
                <p>“is a frequently updated web page used for personal commentary or business content.”</p>
                <a class="btn" href="/identity/Registration">Get Started</a>
            </div>
            <img src="../../Assets/IMG/identityItem_1.png" alt="" />
            <div class="Copyright">
                <div>Copyright © 2023</div>
            </div>
        </div>
    </div>
</div>
